
<div class=" container bg-white">

  <div class="section-a">
    <div class= "bg-green page-header-container">
        <h3 class= "display-4 page-header-text">EXPERIENCE</h3>
    </div>
  </div>

  <div class = "section-b">
    <h3 class = "secondary-header-text">PROFESSIONAL</h3>
    <div class = "row">
      <div id="accordion" class = "col-md-6">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" (click)= "getCompanyDetails(experiences[0])" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{experiences[0].company}}
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <h3 class="text-primary">{{position}}</h3>
              <h4 class="exp-date">{{startDate}} - {{endDate}}</h4>
              <ul *ngFor = "let d of description">
                <p >
                  {{d}}
                </p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" (click)= "getCompanyDetails(experiences[1])" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{experiences[1].company}}
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <h3 class="text-primary">{{position}}</h3>
              <h4 class="exp-date">{{startDate}} - {{endDate}}</h4>
              <ul *ngFor = "let d of description">
                <p >
                  {{d}}
                </p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" (click)= "getCompanyDetails(experiences[2])" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{experiences[2].company}}
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <h3 class="text-primary">{{position}}</h3>
              <h4 class="exp-date">{{startDate}} - {{endDate}}</h4>
              <ul *ngFor = "let d of description">
                <p >
                  {{d}}
                </p>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" (click)= "getCompanyDetails(experiences[3])" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{experiences[3].company}}
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <h3 class="text-primary">{{position}}</h3>
              <h4 class="exp-date">{{startDate}} - {{endDate}}</h4>
              <ul *ngFor = "let d of description">
                <p >
                  {{d}}
                </p>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class ="col-md-6 company-icons">
        <div class= "row">
          <div class = "col-6">
            <div class= "icon-test">
              <img  src="http://www.carlogos.org/logo/General-Motors-logo-2010-3300x3300.png">
            </div>
          </div>
          <div class = "col-6">
            <div class= "icon-test">
              <img  src="https://s3.amazonaws.com/freebiesupply/large/2x/target-logo-transparent.png">
            </div>
          </div>
        </div>
        <div class= "row">
          <div class = "col-6">
            <div class= "icon-test">
              <img  src="https://i.warosu.org/data/sci/img/0080/75/1463325664380.png">
            </div>
          </div>
          <div class = "col-6">
            <div class= "icon-test flx-logo">
              <img height="50" width = "170" src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/0_xdj48spi/def_height/500/def_width/500/version/100012/type/1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-c">
    <h3 class = "secondary-header-text">VOLUNTEER</h3>
  </div>
</div>
